@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Ubuntu;
  font-style: regular, bold;
  font-size: 2rem 1.125rem;
  padding: 5px .3em 0 .5em .5em .75em 0 .75rem;
  margin: .9rem;
}

header {
  font-weight: bold;
  background-color: #18294f;
}

h1 {
  text-align: center;
  color: #fff;
}

nav ul li {
  display: block;
  color: #6c8fe0;
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  line-height: 1.5;
  font-size: 110%;
}
